<h1>Add a new driver:</h1>

{{#if errorMsg}}
  <p>{{errorMsg}}</p>
{{/if}}

<form action='/drivers/create' method='post'>

  <label>Name:</label>
  <input type='text' name='name' placeholder="Driver's name" />

  <label>Last Name:</label>
  <input type='text' name='lastName' placeholder="Driver's last name" />

  <label>Country:</label>
  <input type='text' name='country' placeholder="Driver's country" />

  <label>Number:</label>
  <input type='number' name='number' placeholder="Driver's number" />

  <label>Team:</label>
  <select name='team' id='teams'>
    {{#each chooseTeam}}
      <option value='{{this.id}}'>{{this.teamName}}</option>
    {{/each}}
  </select>

  <label>Podiums:</label>
  <input type='number' name='podiums' placeholder="Driver's podiums" />

  <label>Won races:</label>
  <input type='number' name='wonRaces' placeholder='Number of won races' />

  <label>World Championships:</label>
  <input
    type='number'
    name='worldChampionships'
    placeholder='Number of World Championships'
  />

  <label>Image:</label>
  <input type='text' name='imageUrl' placeholder="Driver's image" />

  <button type='submit'>Create driver</button>

</form>