<div class="background-img" >
  <div class="container">
    <h1>Welcome to the Formula 1 App</h1>
    <p>Everything you wanted to know about 2021 season! Teams, drivers and Grand
    Prix info. You can even create your own team with your favorite drivers!</p>
  </div>
</div>
<footer>
  <div class="footer">
    <h2>by Nacho Benito (2021)</p>
  </div>
  <div class="rrss">
    <span class="footer-logos"><a href="https://github.com/nachbr91" target="_blank"><img src="/images/github-logo.png" alt="GitHub logo" /></a></span> <span class="footer-logos"><a href="https://www.linkedin.com/in/nachobenitoroig/" target="_blank"><img src="/images/linkedin-logo.png" alt="LinkedIn logo" /></a></span>
  </div>
</footer>

{{!-- <form action='/signup' method='get'>
  <button type='submit'>Sign Up</button>
</form>

<form action='/login' method='get'>
  <button type='submit'>Log In</button>
</form>

<form action='/logout' method='post'>
  <button type='submit'>Logout</button>
</form> --}}