<div class="errorMsg">
  {{#if errorMsg}}
  <p class="errorMsg-text">{{errorMsg}}</p>
  {{/if}}
</div>
<div class="background-img" >
  <div class="container home-page">
    <h1>Welcome to the <br>
    Formula 1 App</h1>
    <p>Log In to see all the info about 2021 season!</p>
  </div>
</div>
<footer>
  <div class="footer">
    <h2>by Nacho Benito (2021)</p>
  </div>
  <div class="rrss">
    <span class="footer-logos"><a href="https://github.com/nachbr91" target="_blank"><img src="/images/github-logo.png" alt="GitHub logo" /></a></span> <span class="footer-logos"><a href="https://www.linkedin.com/in/nachobenitoroig/" target="_blank"><img src="/images/linkedin-logo.png" alt="LinkedIn logo" /></a></span>
  </div>
</footer>