@font-face {
  font-family: formula1Regular;
  src: url('/fonts/formula1-regular.ttf');
}

@font-face {
  font-family: formula1Bold;
  src: url('/fonts/formula1-bold.ttf');
}

body {
  font-family: 'formula1Regular', 'formula1Bold', sans-serif;
}

/* Global */

.errorMsg {
  display: flex;
  justify-content: center;
}

.errorMsg-text {
  color: #000;
  text-align: center;
  background-color: #fff;
  padding: 30px 40px;
  width: 30vw;
  position: absolute;
  border-radius: 5px;
  margin-top: 40px;
  animation-duration: 2s;
  animation-name: errormsg;
}

@media (max-width: 1000px) {
  .errorMsg-text {
    text-align: center;
    color: #000;
    width: 100vw;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    animation-duration: 2s;
    animation-name: errormsg;
  }
}

@keyframes errormsg {
  from {
    display: block;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

hr {
  color: #000;
  padding: 0.5px;
}

.submit-buttons p {
  margin-top: 10px;
}

.navbar {
  background-color: rgb(225, 11, 15);
  padding: 0.4rem 0;
}

.navbar-brand {
  font-family: formula1Bold;
  padding-left: 25px;
}

.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-nav button {
  color: rgb(102, 12, 12);
}

.navbar-nav li {
  align-items: center;
}

.card {
  margin-top: 25px;
}

.card-title {
  font-size: 1.7rem;
  text-align: center;
  margin: 10px 0 12px 0;
}

.modal-header img {
  height: 300px;
  width: auto;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #35363a;
  height: 11vh;
}

.footer {
  display: flex;
  justify-content: center;
  height: 23px;
  padding-top: 10px;
}

.rrss {
  display: flex;
  justify-content: center;
}

.footer h2 {
  font-size: 1.2rem;
  color: #fff;
}

.footer-logos img {
  height: 45px;
  width: auto;
  margin-top: 10px;
  padding-right: 20px;
}

@media (max-width: 1000px) {
  .footer-logos img {
    margin-top: 1px;
  }
}

/* Log in modal */

.login-button {
  margin-top: 10px;
}

/* Home */

.background-img {
  width: 100vw;
  height: 83vh;
  background-image: url('/images/f1-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container h1 {
  font-family: formula1Bold;
  color: #fff;
  padding-top: 45px;
}

.home-page p {
  font-family: formula1Regular;
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .navbar-brand {
    padding-left: 0;
  }

  .home-page h1 {
    text-align: center;
    padding-top: 45px;
    text-shadow: 0.5px 0 #000;
  }

  .home-page p {
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 0.5px 0 #000;
    padding-top: 25px;
  }

  .footer h2 {
    font-size: 1.1rem;
  }
}

/* allDrivers */

.container {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.col {
  -webkit-box-shadow: 0px 0px 7px -3px #000000;
  box-shadow: 0px 0px 7px -3px #000000;
  width: 360px;
  border-radius: 5px;
  padding: 0;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.driver-number {
  color: rgb(128, 128, 128);
  font-size: 1.7rem;
  font-weight: 700;
}

.driver-title {
  font-size: 1.5rem;
}

.driver-lastName {
  font-family: formula1Bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.col button {
  margin-top: 10px;
}

.btn-primary {
  align-items: center;
}

/* Driver details */

.driver-details-card {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.card-details {
  -webkit-box-shadow: 0px 0px 7px -3px #000000;
  box-shadow: 0px 0px 7px -3px #000000;
  border-radius: 5px;
  padding: 0;
}

.driver-details-card h5 {
  text-align: center;
}

.driver-details-card span {
  font-family: formula1Bold !important;
}

.driverDetails-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.driverDetails-goback-button {
  display: flex;
  justify-content: center;
}

.go-back {
  margin-top: 10px;
}

/* allTeams page */

.team-img img {
  /* height: fit-content; */
  object-fit: contain;
}

.grand-prix-img img {
  /* object-fit: contain; */
  object-fit: contain;
}

@media (max-width: 1000px) {
  .card-body h5 {
    font-size: 1.5rem;
  }

  .team-img img {
    height: fit-content;
  }
}

/* teamDetails page */

.team-details {
  width: 900px;
  object-fit: contain;
}

.team-details img {
  object-fit: contain;
}

.team-details h5 {
  font-family: formula1Bold;
  color: #212529;
}

.team-details span {
  font-family: formula1Bold;
}

@media (max-width: 1000px) {
  .team-details {
    width: 360px;
  }

  .team-details img {
    height: fit-content;
    object-fit: cover;
  }

  .team-details h5 {
    font-size: 1.2rem;
    color: #212529;
    text-align: start;
    margin-bottom: 15px;
  }

  .teamDetails-buttons {
    display: flex;
    justify-content: center;
  }

  .teamDetails-buttons button {
    margin-left: 10px;
  }

  .go-back-button {
    padding-left: 40px;
  }
}

/* Profile page */

.profile-img {
  width: 100vw;
  height: 83vh;
  background-image: url('/images/profile-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-header {
  font-family: formula1Bold;
  color: #fff;
  padding-top: 20px;
}

@media (max-width: 1000px) {
  .profile-img {
    height: 82vh;
  }
}

/* Edit drivers page */

.edit-driver h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 10px;
}

.edit-driver label {
  font-family: formula1Bold;
}

.edit-driver-button {
  display: flex;
  justify-content: center;
}

/* Drak mode */

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #35363a;
  }

  body a {
    color: #809fff;
  } */

  .errorMsg {
    display: flex;
    justify-content: center;
  }

  .errorMsg-text {
    color: #000;
    text-align: center;
    background-color: #fff;
    padding: 30px 40px;
    width: 30vw;
    position: absolute;
    border-radius: 5px;
    margin-top: 40px;
    animation-duration: 2s;
    animation-name: errormsg;
  }

  @media (max-width: 1000px) {
    .errorMsg-text {
      text-align: center;
      color: #000;
      width: 100vw;
      background-color: #fff;
      position: absolute;
      border-radius: 5px;
      animation-duration: 2s;
      animation-name: errormsg;
    }
  }

  @keyframes errormsg {
    from {
      display: block;
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navbar {
    background-color: #ff3f38;
  }

  .navbar-light .navbar-brand {
    color: #eee;
  }

  .modal-content {
    background-color: #eee !important;
  }

  .modal-body label {
    color: #35363a;
  }

  .modal-body p {
    color: #35363a;
  }

  .background-img {
    filter: brightness(0.85) contrast(1);
  }

  .team-img img {
    filter: brightness(0.75) contrast(1);
  }

  .card {
    background-color: transparent;
  }

  .card h5 {
    color: #eee;
  }

  .team-details img {
    filter: brightness(0.75) contrast(1);
  }

  .profile-img {
    filter: brightness(0.8) contrast(1);
  }

  .profile-img h2 {
    font-size: 2.2rem;
    color: #eee;
    padding-left: 30px;
  }

  .profile-img p {
    font-family: formula1Bold;
    font-size: 1.3rem;
    color: #000;
  }
}